# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

devnotes.txt
parsetest.py
components/*.pyc
tests/*.pyc
*.pyc
sandbox.py
*.swp
History.sublime-project
Data.sublime-project
meng.py
node_modules/